<nb-card >
    <nb-card-body class="example-items-col text-center history">
      <nb-tabset >
        <nb-tab tabTitle="Tabuľky" tabIcon="person-outline" responsive>
        <div class="row">
          <div class="col-12 mb-3">
            <h4>História z webovej služby Weather API - {{yesterdaySlovakFormat}}</h4>
            <div class="table-container" *ngIf="!errorWeatherBitHistory">
              <ng2-smart-table [settings]="historyWeatherApi" [source]="arrayData.main"></ng2-smart-table>
            </div>
            <div *ngIf="errorWeatherBitHistory" class="text-center">
              <strong class="text-danger">Žiadne dáta nie sú k dispozícií na zobrazenie. Kontaktujte prosím administrátora prostredníctvom formulára.</strong>
            </div>
          </div>
          <div class="col-12 pr-0">
            <h4>História z domácej meteostanice - {{yesterdaySlovakFormat}}</h4>
            <div class="table-container" *ngIf="!errorThingSpeakHistory">
              <ng2-smart-table [settings]="historyThingSpeak" [source]="arrayDataThingSpeak.main"></ng2-smart-table>
            </div>
            <div *ngIf="errorThingSpeakHistory" class="text-center">
              <strong class="text-danger">Žiadne dáta nie sú k dispozícií na zobrazenie. Kontaktujte prosím administrátora prostredníctvom formulára.</strong>
            </div>
          </div>
        </div>  
        </nb-tab>
       
        <nb-tab tabTitle="Grafy" tabIcon="person-outline" responsive>
          <div class="row">
            <div class="col-12 mb-3">
            <h4>História z webovej služby Weather API - {{yesterdaySlovakFormat}}</h4>
            <nb-select [(selected)]="selectedItemOpenWeather">
              <nb-option *ngFor="let notification of allNotificationTypesOpenWeather;first as isFirst" (click)="changeOpenWeatherHistoryGraphData(notification.type)" [value]="notification.type">
                {{notification.name}} 
              </nb-option>
            </nb-select>
            <div echarts [options]="openWeatherNumberGraph" class="demo-chart" *ngIf="!hideGraphOpenWeather"></div>
            <div echarts [options]="openWeatherTextGraph" [theme]="theme" class="demo-chart"  *ngIf="hideGraphOpenWeather"></div>
            </div>
            <div class="col-12 pr-0">
              <h4>História z domácej meteostanice - {{yesterdaySlovakFormat}}</h4>
              <nb-select [(selected)]="selectedItemThingSpeak">
                <nb-option *ngFor="let notification of allNotificationTypesThingSpeak;first as isFirst" (click)="changeThingSpeakHistoryGraphData(notification.type)" [value]="notification.type">
                  {{notification.name}} 
                </nb-option>
              </nb-select>
              <div echarts [options]="thingSpeakNumberGraph" class="demo-chart" *ngIf="!hideGraphThingSpeak"></div>
              <div echarts [options]="thingSpeakTextGraph" [theme]="theme" class="demo-chart"  *ngIf="hideGraphThingSpeak"></div>
            </div>
          </div>

        



        </nb-tab>
      </nb-tabset>
      
    </nb-card-body>
</nb-card>






