<nb-card>
    <nb-card-header class="text-center p-2"><h4>Kontaktujte nás</h4></nb-card-header>
    <nb-card-body class="example-items-col text-center contact">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!emailSent">
            <div class="form-group mb-3">
                <label>Meno</label>
                <input
                  type="text" placeholder="Meno"
                  formControlName="name"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                />
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                  <div *ngIf="f['name'].errors['required']">Meno je povinné</div>
                  <div *ngIf="f['name'].errors['minlength']">
                    Meno musí mať najmenej 6 znakov
                   </div>
                  <div *ngIf="f['name'].errors['maxlength']">
                    Meno musí mať najviac 30 znakov
                  </div>
                </div>
              </div>
            <div class="form-group mb-3">
              <label>Email</label>
              <input
                type="text" placeholder="Email"
                formControlName="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              />
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email je povinný</div>
                <div *ngIf="f['email'].errors['minlength']">
                  Email musí mať najmenej 6 znakov
                 </div>
                <div *ngIf="f['email'].errors['maxlength']">
                  Email musí mať najviac 30 znakov
                </div>
                <div *ngIf="f['email'].errors['email']">Email je nevalídny</div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Správa</label>
              <textarea
              type="text" placeholder="Správa"
              formControlName="message"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"
            ></textarea>
              <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                <div *ngIf="f['message'].errors['required']">Správa je povinná</div>
                <div *ngIf="f['message'].errors['minlength']">
                  Správa musí mať najmenej 20 znakov
                </div>
                <div *ngIf="f['message'].errors['maxlength']">
                  Správa musí mať najviac 500 znakov
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Odoslať</button>
            </div>
          </form>
          <strong *ngIf="emailSent">Ďakujeme za Vašu spätnú väzbu. V prípade nutnosti Vás budeme spätne kontaktovať.</strong>
        </div>
      </div>
    </nb-card-body>
    
  </nb-card>
  