
.contact {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 24rem;
  padding-right: 24rem;
}

@media (max-width: 1200px) {
  .contact {
      padding-left: 16rem;
      padding-right: 16rem;
  }
 
}

@media (max-width: 1000px) {
  .contact {
      padding-left: 4rem;
      padding-right: 4rem;
  }
 
}

@media (max-width: 650px) {
  .contact {
      padding-left: 1rem;
      padding-right: 1rem;
  }
}

strong {
    font-size: 1rem;
}