<nb-card>
  <nb-card-header class="text-center p-2"><h4>Registrácia</h4></nb-card-header>
  <nb-card-body class="example-items-col text-center register">
    <div class="card" *ngIf="!isSuccessful" >
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          
          <div class="form-group mb-3">
            <label>Prihlasovacie meno</label>
            <input
              type="text" placeholder="prihlasovacie meno"
              formControlName="name"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
            />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
              <div *ngIf="f['name'].errors['required']">Prihlasovacie meno je povinné</div>
              <div *ngIf="f['name'].errors['minlength']">
                Prihlasovacie meno musí mať najmenej 6 nakov
               </div>
              <div *ngIf="f['name'].errors['maxlength']">
                Prihlasovacie meno musí mať najviac 30 znakov
              </div>
            </div>
          </div>

          <div class="form-group mb-3">
            <label>Email</label>
            <input
              type="text" placeholder="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors['required']">Email je povinný</div>
              <div *ngIf="f['email'].errors['email']">Email je nevalídny</div>
            </div>
          </div>

          <div class="form-group mb-3">
            <label>Telefónne číslo (vo formáte +421...)</label>
            <input
              type="text" placeholder="telefónne číslo"
              formControlName="phone_number"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }"
            />
            <div *ngIf="submitted && f['phone_number'].errors" class="invalid-feedback">
              <div *ngIf="f['phone_number'].errors['required']">Telefónne číslo je povinné</div>
              <div *ngIf="f['phone_number'].errors['minlength']">
                Telefónne číslo musí mať najmenej 10 znakov
               </div>
              <div *ngIf="f['phone_number'].errors['maxlength']">
                Telefónne číslo musí mať najviac 15 znakov
              </div>
              <div *ngIf="f['phone_number'].errors['emailDomain']">
                Telefónne číslo obsahuje zlý formát
              </div>
            </div>
          </div>
      
          <div class="form-group mb-3">
            <label>Heslo</label>
            <input
              [type]="showPassword ? 'text' : 'password'" placeholder="heslo"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']">Heslo je povinné</div>
              <div *ngIf="f['password'].errors['minlength']">
                Heslo musí mať najmenej 6 znakov
               </div>
              <div *ngIf="f['password'].errors['maxlength']">
                Heslo musí mať najviac 30 znakov
              </div>
            </div>
          </div>

          <div class="form-group mb-3">
            <label>Potvrdiť heslo</label>
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
            />
            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
              <div *ngIf="f['confirmPassword'].errors['required']">
                Potvrdenie hesla je povinné
              </div>
              <div *ngIf="f['confirmPassword'].errors['minlength']">
                Potvrdenie hesla musí mať najmenej 6 znakov
               </div>
              <div *ngIf="f['confirmPassword'].errors['maxlength']">
                Potvrdenie hesla musí mať najviac 30 znakov
              </div>
              <div *ngIf="f['confirmPassword'].errors['matching']">
                Heslá sa nezhodujú
              </div>
            </div>
          </div>

          <div class="mb-2">
            <nb-checkbox status="basic" (change)="showPassword = !showPassword">Zobraziť heslo</nb-checkbox>
          </div>

          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="submitted && isSignUpFailed"
            >
            Registrácia zlyhala: {{ errorMessage }}
            </div>
          </div>
      
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Registrovať sa</button>
           <!-- <button
              type="button"
              (click)="onReset()"
              class="btn btn-warning float-right ml-2"
            >
              Reset
            </button> -->
          </div>
        </form>
      </div>
    </div>
    <strong *ngIf="isSuccessful">Registrácia bola úspešná, môžete sa prihlásiť.</strong>
  </nb-card-body>
</nb-card>