
<nb-layout>
  <nb-layout-header class="header">
    <nav>
      <input id="nav-toggle" type="checkbox">
      <div class="logo">BBC micro:<strong>bit</strong></div>
      <ul class="links">
        <li> <a href="/home" routerLink="home"  routerLinkActive="active" (click)="reloadPage()"> <nb-icon icon="home"></nb-icon>Domov</a></li>
        <li *ngIf="isLoggedIn"><a href="/history" routerLink="history" routerLinkActive="active" (click)="reloadPage()"><nb-icon icon="archive"></nb-icon>História</a></li>
        <li><a href="/contact" routerLink="contact" routerLinkActive="active" (click)="reloadPage()"><nb-icon icon="message-square"></nb-icon>Kontakt</a></li>
        <li *ngIf="isLoggedIn"><a href="/climatic-conditions" routerLink="climatic-conditions" routerLinkActive="active" (click)="reloadPage()"><nb-icon icon="sun"></nb-icon>Meranie</a></li>
        <li *ngIf="!isLoggedIn"><a href="/register" routerLink="register" routerLinkActive="active" (click)="reloadPage()"><nb-icon icon="person-add"></nb-icon>Registrácia</a></li>
        <li *ngIf="!isLoggedIn"><a href="/login" routerLink="login" routerLinkActive="active" (click)="reloadPage()"><nb-icon icon="person-done"></nb-icon>Prihlásenie</a></li>
        <li *ngIf="isLoggedIn"><a href="/profile" routerLink="profile" routerLinkActive="active" (click)="reloadPage()"><nb-icon icon="person"></nb-icon>{{username}}</a></li>
        <li *ngIf="isLoggedIn"><a href routerLinkActive="active" (click)="logout()"><nb-icon icon="person-delete"></nb-icon>Odhlásiť sa</a></li>
      </ul>
      <label for="nav-toggle" class="icon-burger" id="auto_trigger" (click)="setOpenedResponsiveMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </label>
    </nav>
  </nb-layout-header>
  <nb-layout-column>
    <div id="app">
      <div class="container">
          <router-outlet></router-outlet>
      </div>
    </div>
  </nb-layout-column>


</nb-layout>
