<nb-card>
    <nb-card-header > 
      <h4 class="text-center p-2">Domovská stránka</h4>
    </nb-card-header>
 
  <nb-card-body class="history">
    <p>Vitajte. Cieľom tejto webovej aplikácie je monitorovanie klimatických podmienok so zariadením BBC:Microbit.
      BBC micro:bit je vreckový počítač, ktorý vám predstaví, ako softvér a hardvér spolupracujú. Má LED svetelný displej,
       tlačidlá, senzory a mnoho vstupno/výstupných funkcií, ktoré môžete naprogramovať a fyzicky s nimi pracovať.
        Najnovší micro:bit pridáva možnosti snímania zvuku a prehrávania.</p>
 
   <p>V našom projekte nám bude BBC micro:bit slúžiť ako informátor, ktorý bude prijímať dáta od meteostanice Weatherbit - konkrétne súprava SparkFun micro:climate kit pre micro:bit - v3.0.</p> 

    <p>Súprava SparkFun micro:climate je kompletná súprava meteorologickej stanice, ktorá je postavená na vrchnej doske nosiča Weather:bit. Na rozdiel od predchádzajúcich súprav počasia, ktoré sme priniesli, táto súprava pre mikro:klímu podporuje Qwiic a obsahuje naše osvedčené meteorologické prístroje a snímač pôdnej vlhkosti, takže či už ste poľnohospodár, profesionálny meteorológ alebo nadšenec, budete schopný postaviť kvalitnú meteorologickú stanicu poháňanú micro:bit. S touto súpravou môžete dokonca komunikovať prostredníctvom bezdrôtovej komunikácie medzi dvoma mikro:bitmi,
      aby ste mohli sledovať počasie bez toho, aby ste mu boli vystavení!</p>
    
    <p>Súprava nevyžaduje žiadne spájkovanie a odporúča sa každému, kto sa zaujíma o technológiu snímania počasia alebo platformu micro:bit.</p> 

   <p><strong>Teplota</strong><br>
   <strong>Rýchlosť vetra</strong><br>
   <strong>Smer vetra</strong><br>
   <strong>Tlak</strong><br>
   <strong>Vľhkosť</strong><br>
   <strong>Teplota pôdy</strong><br>
   <strong>Dažďomer</strong><br>
   <strong>Vľhkosť pôdy</strong><br></p>
  
   <p>Ak sa konkrétna notifikácia zhodne s hodnotami, ktoré namerala súprava, aplikácia na pozadí pošle emailovú, prípadne SMS notifikáciu konkrétnemu používateľovi,
     ktorú si ju vytvoril. SMS notifikácie bude možné odoslať v prípade, ak sa používateľovi s rolou admin zobrazí v profile dostatočný kredit na ich posielanie.</p> 
    <p>Kontrola posielania notifikácií prebieha na pozadí každý deň od 7 hodiny rána do 21 hodiny večer. Ak systém konkrétnu notifikáciu už poslal používateľovi, označí ju za odoslanú a v tom prípade už ju nebude 
      možné opäť odoslať, keďže aktuálna verzia aplikácie podporuje posielanie notifikácií len 1x denne.
    </p>
    <p>Aplikácia každý deň o polnoci takisto všetky poslané notifikácie nastaví opäť na neodoslané, tým pádom ich bude vyhodnocovať takisto, ako v predchádzajúci deň.</p>
    <p>V menu "Meranie" je zobrazené posledné meranie, ktoré súprava vykonala.</p>
    <p>V menu "História" je možné si zobrať všetky vykonané merania v prechádzajúci deň pre našu súpravu. Pre porovnanie výsledkov merania sme použili existujúcu API službu Open Weather, ktorá ponúka históriu pre lokalitu Ostratice,
      kde naša domáca meteostanica je umiestnená.
    </p>
    <p>V menu "Kontakt" môžete kedykoľvek vyplniť kontaktný formulár a kontaktovať nás v prípade napr. neúspešného prihlásenia / registrácie, nezobrazenia histórie a iných podnetov.
      Takisto vítame nové nápady a inovácie, ktoré môžu aplikáciu zlepšiť do budúcna :)
    </p>
  </nb-card-body>
</nb-card>