<nb-card>
    <nb-card-header><h4>Klimatické podmienky</h4></nb-card-header>
    <nb-card-body class="history">
        <h5>Posledný dátum a čas merania: <span>{{climaticConditionsDataThingSpeak.dateTime | date:'dd.MM.yyyy HH:mm'}}</span></h5>
        <h5>Teplota (°C): <span>{{climaticConditionsDataThingSpeak.temperature}}</span></h5>
        <h5>Rýchlosť vetra (MPH): <span>{{climaticConditionsDataThingSpeak.windSpeed}}</span></h5>
        <h5>Dažďomer (palce dažďa): <span>{{climaticConditionsDataThingSpeak.rainGauge}}</span></h5>
        <h5>Smer vetra: <span>{{climaticConditionsDataThingSpeak.windDirection}}</span></h5>
        <h5>Vlhkosť (%): <span>{{climaticConditionsDataThingSpeak.humidity}}</span></h5>
        <h5>Tlak (hPa): <span>{{climaticConditionsDataThingSpeak.pressure}}</span></h5>
        <h5>Teplota pôdy (v desiatkách °C): <span>{{climaticConditionsDataThingSpeak.soilTemperature}}</span></h5>
        <h5>Vhlkosť pôdy (hodnota 0 je suchý a 1023 je vlhký): <span>{{climaticConditionsDataThingSpeak.soilMosture}}</span></h5>
    </nb-card-body>
  </nb-card>