<nb-card>
    <nb-card-header><h4 class="text-center p-2">Meranie</h4></nb-card-header>
    <nb-card-body class="weather-data">
        <div  *ngIf="!error">
            <div class="row mb-3">
                <div class="col-sm-6">
                    <h6 class="mb-0">Posledný dátum a čas merania:</h6>
                </div>
                <div class="col-sm-6 text-secondary">
                    {{climaticConditionsDataThingSpeak.dateTime | date:'dd.MM.yyyy HH:mm'}}
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <h6 class="mb-0">Teplota (°C):</h6>
                </div>
                <div class="col-sm-6 text-secondary">
                    {{climaticConditionsDataThingSpeak.temperature}}
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <h6 class="mb-0">Rýchlosť vetra (MPH - míle za hodinu):</h6>
                </div>
                <div class="col-sm-6 text-secondary">
                    {{climaticConditionsDataThingSpeak.windSpeed}}
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <h6 class="mb-0">Zrážkomer (palce zrážok):</h6>
                </div>
                <div class="col-sm-6 text-secondary">
                    {{climaticConditionsDataThingSpeak.rainGauge}}
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <h6 class="mb-0">Smer vetra:</h6>
                </div>
                <div class="col-sm-6 text-secondary">
                    {{climaticConditionsDataThingSpeak.windDirection}}
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <h6 class="mb-0">Vlhkosť (relatívna vlhkosť v %):</h6>
                </div>
                <div class="col-sm-6 text-secondary">
                    {{climaticConditionsDataThingSpeak.humidity}}
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <h6 class="mb-0">Tlak (hPA - atmosferický tlak):</h6>
                </div>
                <div class="col-sm-6 text-secondary">
                    {{climaticConditionsDataThingSpeak.pressure}}
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <h6 class="mb-0">Teplota pôdy (v stotinách °C):</h6>
                </div>
                <div class="col-sm-6 text-secondary">
                    {{climaticConditionsDataThingSpeak.soilTemperature}}
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <h6 class="mb-0">Vhlkosť pôdy (hodnota od 0 po 1023):</h6>
                </div>
                <div class="col-sm-6 text-secondary">
                    {{climaticConditionsDataThingSpeak.soilMosture}}
                </div>
            </div>
        </div>
        <div class="text-center" *ngIf="error">
            <strong class="text-danger">Žiadne dáta nie sú k dispozícií na zobrazenie. Kontaktujte prosím administrátora prostredníctvom formulára.</strong>
        </div>   
    </nb-card-body>
</nb-card>