<nb-card>
  <nb-card-header class="text-center p-2"><h4>Profil používateľa: {{userName}}</h4></nb-card-header>
  <nb-card-body class="example-items-col text-center profile">
    <nb-tabset >
      <nb-tab tabTitle="Profil" tabIcon="person-outline" class="login-info" responsive>
          <div class="card">
						<div class="card-body">
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Login</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{{user.username}}
								</div>
							</div>
              <hr>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Email</h6>
								</div>
								<div class="col-sm-9 text-secondary">
                  {{user.email}}
								</div>
							</div>
              <hr>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Telefón</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{{user.phone_number}}
								</div>
							</div>
              <hr>
						</div>
          </div>
       
      </nb-tab>
      <nb-tab tabTitle="Notifikácie" tabIcon="bell-outline" responsive>
        <div class="text-center">
          <div>
            <div class="table-responsive">
              <div class="table-wrapper">
                <div class="d-flex justify-content-start mb-2">
                  <div class="" nbTooltip="Máte pridané všetky typy notifikácii!"  [nbTooltipDisabled]="addNewNotification" nbTooltipPlacement="top">
                    <button [disabled]="!addNewNotification" nbButton ngButton (click)="open(formNewNotification)" (click)="isAddMode = true" status="info">
                    <nb-icon icon="plus"></nb-icon>
                     Pridať novú notifikáciu
                    </button>
                  </div>
                  <!-- Dialog for removing certain notification -->
                  <ng-template #formNewNotification let-data let-ref="dialogRef" hasScroll="true">
                    <nb-card class="own-scroll">
                      <nb-card-header *ngIf="isAddMode"><h6 class="text-center p-2">Nová notifikácia</h6></nb-card-header>
                      <nb-card-header *ngIf="!isAddMode"><h6 class="text-center p-2">Upraviť notifikáciu</h6></nb-card-header>
                    
                      <nb-card-body class="modal-notification">
                        <form [formGroup]="notification" (ngSubmit)="onSubmit()">

                        <div class="form-group mb-3" *ngIf="isAddMode">
                          <label>Typ notifikácie</label>
                          <nb-radio-group formControlName="notificationType" name="ng-model-group">
                            <nb-radio *ngFor="let notification of notificationTypes.main;first as isFirst" [checked]="isFirst" [value]="notification.type" (valueChange)="changeGender($event)">
                              {{notification.name}} 
                              <nb-icon class="icon" *ngIf="notification.type === 'temperature'" nbTooltip="Microbit posiela teplotu vo formáte čísla. Nastavte si, pre akú teplotu Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.type === 'windSpeed'" nbTooltip="Microbit posiela rýchlost vetra fo vo formáte čsla. Nastavte si, pre akú intenzitu rýchlosti vetra Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.type === 'windDirection'" nbTooltip="Microbit posiela smer vetra v textovom formáte. Nastavte si, pre akú smer vetra Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.type === 'soilTemperature'" nbTooltip="Microbit posiela úroveň svetla v textovom formáte. Nastavte si, pre akú úroveň svetla Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.type === 'soilMosture'" nbTooltip="Microbit posiela vlhkosť pôdy v textovom formáte. Nastavte si, pre vlhosť pôdy Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.type === 'humidity'" nbTooltip="Microbit posiela vlhkosť vo formáte čísla. Nastavte si, pre akú vlhkosť Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.type === 'rainGauge'" nbTooltip="Microbit pošle informáciu, keď vonku prší. Nastavte si, či Vám má aplikácia poslať notifikáciu, keď bude pršať" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.type === 'pressure'" nbTooltip="Microbit posiela tlak vo formáte čísla. Nastavte si, pre aký tlak Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                          
                            </nb-radio>
                          </nb-radio-group>
                        </div>

                        <div class="form-group mb-3" *ngIf="!isAddMode">
                          <label>Typ notifikácie</label>
                          <nb-radio-group disabled name="ng-model-group">
                            <nb-radio [checked]="true" value="{{notification.value.notificationType}}">{{getNotificationName(notification.value.notificationType)}}
                              <nb-icon class="icon" *ngIf="notification.value.notificationType === 'temperature'" nbTooltip="Microbit posiela teplotu vo formáte čísla. Nastavte si, pre akú teplotu Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.value.notificationType === 'windSpeed'" nbTooltip="Microbit posiela rýchlost vetra fo vo formáte čsla. Nastavte si, pre akú intenzitu rýchlosti vetra Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.value.notificationType === 'windDirection'" nbTooltip="Microbit posiela smer vetra fo v textovom formáte. Nastavte si, pre akú smer vetra Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.value.notificationType === 'soilTemperature'" nbTooltip="Microbit posiela úroveň svetla v textovom formáte. Nastavte si, pre akú úroveň svetla Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.value.notificationType === 'soilMosture'" nbTooltip="Microbit posiela vlhkosť pôdy v textovom formáte. Nastavte si, pre vlhosť pôdy Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.value.notificationType === 'humidity'" nbTooltip="Microbit posiela vlhkosť vo formáte čísla. Nastavte si, pre akú vlhkosť Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.value.notificationType === 'rainGauge'" nbTooltip="Microbit pošle informáciu, keď vonku prší. Nastavte si, či Vám má aplikácia poslať notifikáciu, keď bude pršať" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                              <nb-icon class="icon" *ngIf="notification.value.notificationType === 'pressure'" nbTooltip="Microbit posiela tlak vo formáte čísla. Nastavte si, pre aký tlak Vám má aplikácia poslať notifikáciu" nbTooltipPlacement="right" icon="info" status="primary"></nb-icon>
                            </nb-radio>
                          </nb-radio-group>
                        </div>

                        <div class="form-group mb-3">
                          <label>Popis notifikácie</label>
                          <textarea
                            type="text" placeholder="popis notifikácie"
                            formControlName="descriptionNotification"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['descriptionNotification'].errors }"
                          ></textarea>
                          <div *ngIf="submitted && f['descriptionNotification'].errors" class="invalid-feedback">
                            <div *ngIf="f['descriptionNotification'].errors['required']">Popis notifikácie je povinný</div>
                            <div *ngIf="f['descriptionNotification'].errors['minlength']">
                              Prihlasovacie meno / email musí mať najmenej 6 znakov
                            </div>
                            <div *ngIf="f['descriptionNotification'].errors['maxlength']">
                              Prihlasovacie meno / email musí mať najviac 150 znakov
                            </div>
                          </div>
                        </div>

                        <div class="form-group mb-3"  *ngIf="notification.value.notificationType == 'temperature'" >
                          <label>Teplota, pre ktorú poslať notifikáciu</label>
                          <input
                            type="number" placeholder="teplota notifikácie"
                            formControlName="temperatureNotification"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['temperatureNotification'].errors }"
                          />
                          <div *ngIf="submitted && f['temperatureNotification'].errors" class="invalid-feedback">
                            <div *ngIf="f['temperatureNotification'].errors['required']">Teplota notifikácie je povinná</div>
                            <div *ngIf="f['temperatureNotification'].errors['min']">
                              Minimálna teplota môže byť -50 °C
                            </div>
                            <div *ngIf="f['temperatureNotification'].errors['max']">
                              Maximálna teplota môže byť 50 °C
                            </div>
                          </div>
                        </div>

                        <div class="form-group mb-3"  *ngIf="notification.value.notificationType === 'windSpeed'" >
                          <label>Rýchlosť vetra, pre ktorú poslať notifikáciu</label>
                          <input
                            type="number" placeholder="rýchlosť vetra"
                            formControlName="windSpeedNotification"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['windSpeedNotification'].errors }"
                          />
                          <div *ngIf="submitted && f['windSpeedNotification'].errors" class="invalid-feedback">
                            <div *ngIf="f['windSpeedNotification'].errors['required']">Rychlosť vetra je povinná, ak chcete poslať notifikáciu</div>
                            <div *ngIf="f['windSpeedNotification'].errors['min']">
                              Rychlosť vetra môže byť najmenej 0 MPH
                            </div>
                            <div *ngIf="f['windSpeedNotification'].errors['max']">
                              Rychlosť vetra môže byť najviac 20 MPH
                            </div>
                          </div>
                        </div>

                        <div class="form-group mb-3"  *ngIf="notification.value.notificationType === 'soilMosture'" >
                          <label>Vlhkosť pôdy, pre ktorú poslať notifikáciu</label>
                          <input
                            type="number" placeholder="vlhkosť pôdy"
                            formControlName="soilMostureNotification"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['soilMostureNotification'].errors }"
                          />
                          <div *ngIf="submitted && f['soilMostureNotification'].errors" class="invalid-feedback">
                            <div *ngIf="f['soilMostureNotification'].errors['required']">Vlhkosť pôdy je povinná, ak chcete poslať notifikáciu</div>
                            <div *ngIf="f['soilMostureNotification'].errors['min']">
                              Vlhkosť pôdy môže byť najmenej 0
                            </div>
                            <div *ngIf="f['soilMostureNotification'].errors['max']">
                              Vlhkosť pôdy môže byť najviac 1023
                            </div>
                          </div>
                        </div>

                        <div class="form-group mb-3"  *ngIf="notification.value.notificationType === 'humidity'" >
                          <label>Vlhkosť, pre ktorú poslať notifikáciu</label>
                          <input
                            type="number" placeholder="vlhkosť"
                            formControlName="humidityNotification"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['humidityNotification'].errors }"
                          />
                          <div *ngIf="submitted && f['humidityNotification'].errors" class="invalid-feedback">
                            <div *ngIf="f['humidityNotification'].errors['required']">Vlhkosť je povinná, ak chcete poslať notifikáciu</div>
                            <div *ngIf="f['humidityNotification'].errors['min']">
                              Minimálna hodnota vlhkosti môže byť najmenej 0 %
                            </div>
                            <div *ngIf="f['humidityNotification'].errors['max']">
                              Maximálna hodnota vlhkosti môže byť najviac 100 %
                            </div>
                          </div>
                        </div>

                        <div class="form-group mb-3"  *ngIf="notification.value.notificationType === 'rainGauge'" >
                          <label>Daždometer, pre ktorý poslať notifikáciu</label>
                          <input
                            type="number" placeholder="daždometer"
                            formControlName="rainGaugeNotification"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['rainGaugeNotification'].errors }"
                          />
                          <div *ngIf="submitted && f['rainGaugeNotification'].errors" class="invalid-feedback">
                            <div *ngIf="f['rainGaugeNotification'].errors['required']">Daždometer je povinný, ak chcete poslať notifikáciu</div>
                            <div *ngIf="f['rainGaugeNotification'].errors['min']">
                              Minimálna hodnota daždometra môže byť najmenej 0
                            </div>
                            <div *ngIf="f['rainGaugeNotification'].errors['max']">
                              Maximálna hodnota daždometra môže byť najviac 1023
                            </div>
                          </div>
                        </div>

                        <div class="form-group mb-3"  *ngIf="notification.value.notificationType === 'pressure'" >
                          <label>Tlak, pre ktorý poslať notifikáciu</label>
                          <input
                            type="number" placeholder="tlak"
                            formControlName="pressureNotification"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['pressureNotification'].errors }"
                          />
                          <div *ngIf="submitted && f['pressureNotification'].errors" class="invalid-feedback">
                            <div *ngIf="f['pressureNotification'].errors['required']">Tlak je povinný, ak chcete poslať notifikáciu</div>
                            <div *ngIf="f['pressureNotification'].errors['min']">
                              Minimálna hodnota tlaku môže byť najmenej 0 hPa
                            </div>
                            <div *ngIf="f['pressureNotification'].errors['max']">
                              Maximálna hodnota tlaku môže byť najviac 100 hPa
                            </div>
                          </div>
                        </div>

                        <div class="form-group mb-3"  *ngIf="notification.value.notificationType === 'soilTemperature'" >
                          <label>Teplota pôdy, pre ktorú poslať notifikáciu</label>
                          <input
                            type="number" placeholder="teplota pôdy"
                            formControlName="soilTemperatureNotification"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['soilTemperatureNotification'].errors }"
                          />
                          <div *ngIf="submitted && f['soilTemperatureNotification'].errors" class="invalid-feedback">
                            <div *ngIf="f['soilTemperatureNotification'].errors['required']">Teplota pôdy je povinná, ak chcete poslať notifikáciu</div>
                            <div *ngIf="f['soilTemperatureNotification'].errors['min']">
                              Minimálna teplota pôdy môže byť 0 
                            </div>
                            <div *ngIf="f['soilTemperatureNotification'].errors['max']">
                              Maximálna teplota pôdy môže byť 4095
                            </div>
                          </div>
                        </div>

                        <div class="form-group mb-3">
                          <label>Text notifikácie</label>
                          <textarea
                            type="text" placeholder="text notifikácie"
                            formControlName="textNotification"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['textNotification'].errors }"
                          ></textarea>
                          <div *ngIf="submitted && f['textNotification'].errors" class="invalid-feedback">
                            <div *ngIf="f['textNotification'].errors['required']">Tlak je povinný, ak chcete poslať notifikáciu</div>
                            <div *ngIf="f['textNotification'].errors['minlength']">
                              Text notifikácie musí mať najmenej 6 znakov
                            </div>
                            <div *ngIf="f['textNotification'].errors['maxlength']">
                              Text notifikácie musí mať najviac 150 znakov
                            </div>
                          </div>
                        </div>

                        

                        <div class="form-group mb-3" *ngIf="notification.value.notificationType === 'windDirection'" >
                          <label>Smer vetra, pre ktorý poslať notifikáciu</label>
                          <nb-radio-group formControlName="windDirectionNotification">
                            <nb-radio [value]="'1'">Severný vietor</nb-radio>
                            <nb-radio [value]="'2'">Východný vietor</nb-radio>
                            <nb-radio [value]="'3'">Južný vietor</nb-radio>
                            <nb-radio [value]="'4'">Západný vietor</nb-radio>
                            <nb-radio [value]="'5'">Severovýchodný vietor</nb-radio>
                            <nb-radio [value]="'6'">Severozápadný vietor</nb-radio>
                            <nb-radio [value]="'7'">Juchovýchodný vietor</nb-radio>
                            <nb-radio [value]="'8'">Juhozápadný vietor</nb-radio>
                          </nb-radio-group>
                        </div>

                        <div class="form-group mb-3" *ngIf="notification.value.notificationType !== 'windDirection'" >
                          <label>Porovnávací operátor</label>
                          <nb-radio-group formControlName="compareOperator">
                            <nb-radio [value]="'>'">Väčší</nb-radio>
                            <nb-radio [value]="'<'">Menší</nb-radio>
                            <nb-radio [value]="'>='">Väčší a rovný</nb-radio>
                            <nb-radio [value]="'<='">Menší a rovný</nb-radio>
                          </nb-radio-group>
                        </div>
                      
                        <div class="mb-1">
                          <label>Nastaviť notifikáciu ako aktívnu?</label>
                        </div>
                        <div class="mb-4">
                          <nb-toggle formControlName="activeNotification" name="ng-toggle"></nb-toggle>
                        </div>

                        <div class="form-group">
                          <button nbButton *ngIf="isAddMode" type="submit" status="primary">Pridať</button>
                          <button nbButton *ngIf="!isAddMode" type="submit" status="info">Upraviť</button>
                          <button nbButton (click)="ref.close()" status="basic" class="cancel-button">Zrušiť</button>
                        </div>
                      </form>
                    </nb-card-body>
        
                    
                      </nb-card>
                    </ng-template>
                 
                </div>
                  <table class="table table-striped table-hover table-bordered">
                      <thead>
                          <tr>
                              <th>Poslaná notifikácia</th>
                              <th>Typ</th>
                              <th>Popis</th>
                              <th>Notifikácia</th>
                              <th>Text</th>
                              <th>Aktívna</th>
                              <th>Akcie</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of userNotifications; index as i">
                            <td>{{item.notification_sent == 1 ? 'Áno' : 'Nie'}}</td>
                            <td>{{getNotificationName(item.notification_type)}}</td>
                            <td>{{item.description_notification}}</td>
                            
                            <td *ngIf="item.notification_type === 'temperature'">{{item.temperature_notification}} °C</td>
                            <td *ngIf="item.notification_type === 'windSpeed'">{{item.wind_speed_notification}}</td>
                            <td *ngIf="item.notification_type === 'rainGauge'">{{item.rain_gauge_notification}}</td>
                            <td *ngIf="item.notification_type === 'windDirection'">{{getWindDirectionThingSpeak(item.wind_direction_notification)}}</td>
                            <td *ngIf="item.notification_type === 'humidity'">{{item.humidity_notification}}</td>
                            <td *ngIf="item.notification_type === 'pressure'">{{item.pressure_notification}}</td>
                            <td *ngIf="item.notification_type === 'soilTemperature'">{{item.soil_temperature_notification}}</td>
                            <td *ngIf="item.notification_type === 'soilMosture'">{{item.soil_mosture_notification}}</td>
                          
                            <td>{{item.text_notification}}</td>
                            <td>{{item.active_notification == 1? 'Áno': 'Nie'}}</td>
                            <td>
                              <button nbButton ngButton (click)="open(formNewNotification)" (click)="editNotificationSetValues(item)" class="mb-2" status="info">Upraviť</button>
                              <button nbButton (click)="open(dialog)" status="danger">Vymazať</button>
                            </td>
                            <!-- Dialog for removing certain notification -->
                            <ng-template #dialog let-data let-ref="dialogRef">
                              <nb-card class="delete-notification">
                                <nb-card-header class="p-2 mb-2"><h6>Vymazať notifikáciu</h6></nb-card-header>
                                <nb-card-body class="remove-notification mb-2">{{ data }}</nb-card-body>
                                <div class="p-2">
                                  <button nbButton (click)="removeNotification(item.id)"  status="danger" >Vymazať</button>
                                  <button nbButton (click)="ref.close()" status="basic" class="mybutton">Zrušiť</button>
                                </div>
                              </nb-card>
                            </ng-template>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>  
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Nastavenia aplikácie" tabIcon="settings-outline" class="app-settings" *ngIf="user.roles.includes('ROLE_ADMIN')" responsive>
          <div class="card">
						<div class="card-body">
							<div class="row mb-3">
								<div class="col-sm-5">
									<h6 class="mb-0">Posielanie notifikácii cez SMS</h6>
								</div>
								<div class="col-sm-7 text-secondary">
                  <div class="" nbTooltip="Vyčerpal sa Vám limit na posielanie SMS správ"  [nbTooltipDisabled]="!(accountBalance < limitPrice)" nbTooltipPlacement="top">
                    <nb-toggle [disabled]="accountBalance < limitPrice" [checked]="sendPhoneNotifications" (checkedChange)="getSendPhoneNotificationsState($event)"></nb-toggle>
                  </div>
								</div>
                <div class="col-12">
                  <p class="information mt-3">* ak suma klesne pod {{limitPrice}} €, posielanie SMS správ sa automaticky preruší</p>
                </div>
                
							</div>
              <hr>
							<div class="row mb-3">
								<div class="col-sm-5">
									<h6 class="mb-0">Suma na zostávajúce SMS notifikácie</h6>
								</div>
								<div class="col-sm-7 text-secondary">
                  {{accountBalance}} €
								</div>
							</div>
						</div>
          </div>
      </nb-tab>
    </nb-tabset>

</nb-card-body>


 
</nb-card>