<nb-card>
  <nb-card-header class="text-center"><h4>Profil používateľa: {{userName}}</h4></nb-card-header>
  <nb-card-body class="example-items-col text-center test test2">
    <nb-tabset >
      <nb-tab tabTitle="Profil používateľa" tabIcon="person-outline" responsive>
        <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate style="padding: 0 16rem"
      >
      
        <div class="mb-4">
          <label for="username">Používateľské meno</label>
          <input nbInput fullWidth  status="basic" placeholder="Používateľské meno" readonly
            type="text"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel">
            <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors['required']">Používateľské meno je povinné</div>
              <div *ngIf="username.errors['minlength']">
                Používateľské meno musí mať aspoň 3 znaky
              </div>
              <div *ngIf="username.errors['maxlength']">
                Používateľské meno musí mať najviac 20 znakov
              </div>
            </div>
        </div>
        <div class="mb-4">
          <label for="email">Email</label>
          <input nbInput fullWidth  status="basic"
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          
          />
          <div class="alert alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email je povinný</div>
            <div *ngIf="email.errors['email']">
              Email musí byť valídna emailová adresa
            </div>
          </div>
        </div>
        <div class="mb-4">
          <label for="phone_number">Telefónne číslo</label>
          <input nbInput fullWidth  status="primary"
            type="text"
            class="form-control"
            name="phone_number"
            [(ngModel)]="form.phone_number"
            required
            minlength="1"
            maxlength="20"
            #phone_number="ngModel"
          />
          <div class="alert alert-danger" *ngIf="phone_number.errors && f.submitted">
            <div *ngIf="phone_number.errors['required']">Telefónne číslo je povinné</div>
            <div *ngIf="phone_number.errors['minlength']">
              Telefónne číslo musí mať aspoň 3 znaky
            </div>
            <div *ngIf="phone_number.errors['maxlength']">
              Telefónne číslo musí mať najviac 20 znakov
            </div>
          </div>
        </div>
       
        
        <nb-card-footer>  
          <div class="control-status-example text-center mb-2">
          <button nbButton hero status="primary">Uložiť</button>
          </div>
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Uloženie zlyhalo!<br />{{ errorMessage }}
          </div> 
        </nb-card-footer>
      
      </form>
      </nb-tab>
      <nb-tab tabTitle="Notifikácie" tabIcon="bell-outline" responsive>
        <div class="text-center">
 
          <div style="margin-bottom: 80px">
           
            <div class="table-responsive">
              <div class="table-wrapper">
               
                <div class="d-flex justify-content-start mb-2">
                  <div class="" nbTooltip="Máte pridané všetky typy notifikácii!"  [nbTooltipDisabled]="notificationTypes.main.length > 0" nbTooltipPlacement="top">
                    <button [disabled]="notificationTypes.main.length == 0" ngButton (click)="open(formNewNotification)" type="button" class="btn btn-info add-new">
                    <i class="fa fa-plus"></i>
                     Pridať novú notifikáciu
                    </button>
                  </div>
                  <!-- Dialog for removing certain notification -->
                  <ng-template #formNewNotification let-data let-ref="dialogRef">
                    <nb-card>
                      <nb-card-header>Nová notifikácia</nb-card-header>
                      <nb-card-body>
                        <form
                        name="form"
                        (ngSubmit)="n.form.valid && newNotification()"
                        #n="ngForm"
                        novalidate
                      >
                        <label>Typ notifikácie</label>
                        <div class="mb-4">
                          <nb-radio-group [(ngModel)]="new.notificationType" name="ng-model-group">
                            <nb-radio *ngFor="let type of notificationTypes.main;first as isFirst" [checked]="isFirst" [value]="type" (valueChange)="changeGender($event)">
                              {{type}}
                            </nb-radio>
                          </nb-radio-group>
                        </div>
        
                        <div class="mb-4">
                           <label>Popis konkrétnej notifikácie</label>
                           <textarea nbInput name="description_notification"  [(ngModel)]="new.descriptionNotification" fullWidth
                            placeholder="Popíšte, o čom bude Vaša notifikácia, aby ste mali lepší prehľad">
                           </textarea>
                        </div>
                        
                        <div class="mb-4"  *ngIf="new.notificationType === 'teplota'" >
                          <label for="temperature_notificatoin">Teplota, pre ktorú poslať notifikáciu</label>
                        
                          <input nbInput fullWidth  status="primary"
                            type="number"
                            class="form-control"
                            name="temperature_notificatoin"
                            [(ngModel)]="new.temperatureNotification"
                            required
                            minlength="1"
                            maxlength="20"
                            #temperatureNotification="ngModel"
                          />
                          <div class="alert alert-danger" *ngIf="temperatureNotification.errors && n.submitted">
                            <div *ngIf="temperatureNotification.errors['required']">Teplota je povinná, ak chcete poslať notifikáciu</div>
                            <div *ngIf="temperatureNotification.errors['minlength']">
                              Teplota notifikácie musí mať aspoň 1 znak
                            </div>
                            <div *ngIf="temperatureNotification.errors['maxlength']">
                              Teplota notifikácie musí mať najviac 20 znakov
                            </div>
                          </div>
                        </div>
        
                        <div class="mb-4" *ngIf="new.notificationType === 'rychlost_vetra'" >
                          <label for="wind_speed_notification">Rýchlosť vetra, pre ktorú poslať notifikácie</label>
                          <input nbInput fullWidth  status="primary"
                            type="number"
                            class="form-control"
                            name="wind_speed_notification"
                            [(ngModel)]="new.windSpeedNotification"
                            required
                            minlength="1"
                            maxlength="20"
                            #windSpeedNotification="ngModel"
                          />
                          <div class="alert alert-danger" *ngIf="windSpeedNotification.errors && n.submitted">
                            <div *ngIf="windSpeedNotification.errors['required']">Rychlosť vetra je povinná, ak chcete poslať notifikáciu</div>
                            <div *ngIf="windSpeedNotification.errors['minlength']">
                              Teplota notifikácie musí mať aspoň 1 znak
                            </div>
                            <div *ngIf="windSpeedNotification.errors['maxlength']">
                              Teplota notifikácie musí mať najviac 20 znakov
                            </div>
                          </div>
                        </div>
        
                        <div class="mb-4" *ngIf="!(new.notificationType  === 'teplota' ||new.notificationType  === 'rychlost_vetra')" >
                          <label for="otherNotification">Iny typ notifikacie</label>
                          <input nbInput fullWidth  status="primary"
                            type="text"
                            class="form-control"
                            name="otherNotification"
                            [(ngModel)]="new.otherNotification"
                            required
                            minlength="1"
                            maxlength="100"
                            #otherNotification="ngModel"
                          />
                          <div class="alert alert-danger" *ngIf="otherNotification.errors && n.submitted">
                            <div *ngIf="otherNotification.errors['required']">Iny typ je povinný, ak chcete poslať notifikáciu</div>
                            <div *ngIf="otherNotification.errors['minlength']">
                              Iny typ notifikácie musí mať aspoň 1 znak
                            </div>
                            <div *ngIf="otherNotification.errors['maxlength']">
                              Iny typ notifikácie musí mať najviac 20 znakov
                            </div>
                          </div>
                        </div>
        
                        <div class="mb-4">
                          <label for="text_notification">Text notifikácie</label>
                          <input nbInput fullWidth  status="primary"
                            type="text"
                            class="form-control"
                            name="text_notification"
                            [(ngModel)]="new.textNotification"
                            required
                            minlength="1"
                            maxlength="100"
                            #textNotification="ngModel"
                          />
                          <div class="alert alert-danger" *ngIf="textNotification.errors && n.submitted">
                            <div *ngIf="textNotification.errors['required']">Text notifikácie je povinný</div>
                            <div *ngIf="textNotification.errors['minlength']">
                              Text notifikácie musí mať aspoň 1 znak
                            </div>
                            <div *ngIf="textNotification.errors['maxlength']">
                              Text notifikácie musí mať najviac 100 znakov
                            </div>
                          </div>
                        </div>
                        <div *ngIf="new.notificationType === 'teplota' || new.notificationType === 'rychlost_vetra'" class="mb-2">
                          <p *ngIf="new.notificationType === 'teplota'">Aká má byť teplota z meteostanice, aby sa poslala notifikácia oproti Vašej zadanej teplote?</p>
                          <p *ngIf="new.notificationType === 'rychlost_vetra'">Aká by mala byť rýchlosť vetra z meteostanice, aby sa poslala notifikácia oproti Vašej zadanej rýchlosti vetra?</p>
                          <nb-radio-group [(ngModel)]="new.temperatureWindSpeedOperator" name="ng-model-group-two" >
                            <nb-radio [value]="'>'">Väčšia</nb-radio>
                            <nb-radio [value]="'<'">Menšia</nb-radio>
                            <nb-radio [value]="'>='">Väčšia a rovná</nb-radio>
                            <nb-radio [value]="'<='">Menšia a rovná</nb-radio>
                          </nb-radio-group>
                        </div>
                        <div class="mb-1">
                          <label for="text_notification">Nastaviť notifikáciu aktívnu?</label>
                        </div>
                        <div class="mb-4">
                          <nb-toggle [(ngModel)]="new.activeNotification" name="ng-toggle"></nb-toggle>
                        </div>
                      
                        <button nbButton status="success" class="mr-2">Pridať</button>
                        <button nbButton (click)="ref.close()" status="basic">Zrušiť</button>
                      
                        </form>
                      </nb-card-body>
        
                    
                      </nb-card>
                    </ng-template>
                 
                </div>
                  <table class="table table-striped table-hover table-bordered">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Typ notifikacie</th>
                              <th>Popis notifikacie</th>
                              <th>Podmienka notifikacie</th>
                              <th>Text notifikacie</th>
                              <th>Aktivna notifikacia</th>
                              <th>Akcie</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of userNotifications; index as i">
                            <td>{{i+1}}</td>
                            <td>{{item.notification_type}}</td>
                            <td>{{item.description_notification}}</td>
                            <td *ngIf="item.notification_type === 'teplota'">{{item.temperature_notification}}</td>
                            <td *ngIf="item.notification_type === 'rychlost_vetra'">{{item.wind_speed_notification}}</td>
                            <td *ngIf="!(item.notificationType  === 'teplota' || item.notificationType  === 'rychlost_vetra')">{{item.other_notification}}</td>
                            <td>{{item.text_notification}}</td>
                            <td>{{item.active_notification == 1? 'Áno': 'Nie'}}</td>
                            <td>
                             <!-- <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>-->
                              <!--<a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                              <a href="#" class="delete" title="Delete" data-toggle="tooltip" data-toggle="modal" data-target="#exampleModal"><i class="material-icons">&#xE872;</i></a>
                              -->
                              
                              <button nbButton ngButton (click)="open(formEditNotification)" (click)="editNotificationSetValues(item)" class="mb-2" status="primary">Editovať</button>
                              <button nbButton (click)="open(dialog)" status="danger">Vymazať</button>
                              <ng-template #formEditNotification let-data let-ref="dialogRef">
                                <nb-card>
                                  <nb-card-header>Upraviť notifikáciu</nb-card-header>
                            
                                  <nb-card-body>
                                    
                                    <form
                                    name="form"
                                    (ngSubmit)="n.form.valid && editNotification()"
                                    #n="ngForm"
                                    novalidate
                                  >
                                    <div class="mb-4">
                                      <label>Typ notifikácie</label>
                                      <div class="mb-4">
                                        <nb-radio-group disabled  [(ngModel)]="new.notificationType" name="ng-model-group">
                                          <nb-radio  [value]="new.notificationType">
                                            {{new.notificationType}}
                                          </nb-radio>
                                        </nb-radio-group>
                                      </div>
                                    </div>
        
                                    <div class="mb-4">
                                      <label>Popis konkrétnej notifikácie</label>
                                      <textarea nbInput name="description_notification"  [(ngModel)]="new.descriptionNotification" fullWidth
                                       placeholder="Popíšte, o čom bude Vaša notifikácia, aby ste mali lepší prehľad">
                                      </textarea>
                                   </div>
        
                                    <div class="mb-4"  *ngIf="new.notificationType === 'teplota'" >
                                      <label for="temperature_notificatoin">Teplota, pre ktorú poslať notifikáciu</label>
                                    
                                      <input nbInput fullWidth  status="primary"
                                        type="number"
                                        class="form-control"
                                        name="temperature_notificatoin"
                                        [(ngModel)]="new.temperatureNotification"
                                        required
                                        minlength="1"
                                        maxlength="20"
                                        #temperatureNotification="ngModel"
                                      />
                                      <div class="alert alert-danger" *ngIf="temperatureNotification.errors && n.submitted">
                                        <div *ngIf="temperatureNotification.errors['required']">Teplota je povinná, ak chcete poslať notifikáciu</div>
                                        <div *ngIf="temperatureNotification.errors['minlength']">
                                          Teplota notifikácie musí mať aspoň 1 znak
                                        </div>
                                        <div *ngIf="temperatureNotification.errors['maxlength']">
                                          Teplota notifikácie musí mať najviac 20 znakov
                                        </div>
                                      </div>
                                    </div>
        
                                    <div class="mb-4" *ngIf="!(new.notificationType  === 'teplota' ||new.notificationType  === 'rychlost_vetra')" >
                                      <label for="otherNotification">Iny typ notifikacie</label>
                                      <input nbInput fullWidth  status="primary"
                                        type="text"
                                        class="form-control"
                                        name="otherNotification"
                                        [(ngModel)]="new.otherNotification"
                                        required
                                        minlength="1"
                                        maxlength="100"
                                        #otherNotification="ngModel"
                                      />
                                      <div class="alert alert-danger" *ngIf="otherNotification.errors && n.submitted">
                                        <div *ngIf="otherNotification.errors['required']">Iny typ je povinný, ak chcete poslať notifikáciu</div>
                                        <div *ngIf="otherNotification.errors['minlength']">
                                          Iny typ notifikácie musí mať aspoň 1 znak
                                        </div>
                                        <div *ngIf="otherNotification.errors['maxlength']">
                                          Iny typ notifikácie musí mať najviac 20 znakov
                                        </div>
                                      </div>
                                    </div>
        
                                  
                                    <div class="mb-4">
                                      <label for="text_notification">Text notifikácie</label>
                                      <input nbInput fullWidth  status="primary"
                                        type="text"
                                        class="form-control"
                                        name="text_notification"
                                        [(ngModel)]="new.textNotification"
                                        required
                                        minlength="1"
                                        maxlength="100"
                                        #textNotification="ngModel"
                                      />
                                      <div class="alert alert-danger" *ngIf="textNotification.errors && n.submitted">
                                        <div *ngIf="textNotification.errors['required']">Text notifikácie je povinný</div>
                                        <div *ngIf="textNotification.errors['minlength']">
                                          Text notifikácie musí mať aspoň 1 znak
                                        </div>
                                        <div *ngIf="textNotification.errors['maxlength']">
                                          Text notifikácie musí mať najviac 20 znakov
                                        </div>
                                      </div>
                                    </div>
                                    <div class="mb-1">
                                      <label for="text_notification" class="active_notification">Nastaviť notifikáciu aktívnu?</label>
                                    </div>
                                    <div class="mb-4"> <nb-toggle [(ngModel)]="new.activeNotification" name="ng-toggle"></nb-toggle></div>
                                    <div *ngIf="new.notificationType === 'teplota' || new.notificationType === 'rychlost_vetra'" class="mb-4 ml-4">
                                      <p *ngIf="new.notificationType === 'teplota'">Aká má byť teplota z meteostanice, aby sa poslala notifikácia oproti Vašej zadanej teplote?</p>
                                      <p *ngIf="new.notificationType === 'rychlost_vetra'">Aká by mala byť rýchlosť vetra z meteostanice, aby sa poslala notifikácia oproti Vašej zadanej rýchlosti vetra?</p>
                                      <nb-radio-group [(ngModel)]="new.temperatureWindSpeedOperator" name="ng-model-group-two" >
                                        <nb-radio [value]="'>'">Väčšia</nb-radio>
                                        <nb-radio [value]="'<'">Menšia</nb-radio>
                                        <nb-radio [value]="'>='">Väčšia a rovná</nb-radio>
                                        <nb-radio [value]="'<='">Menšia a rovná</nb-radio>
                                      </nb-radio-group>
                                    </div>
        
                                    <button nbButton status="success" class="mr-2">Uložiť</button>
                                    <button nbButton (click)="ref.close()" status="basic">Zrušiť</button>
                                  
                                    </form>
                                    
                             
                                  </nb-card-body>
                                  
                                
                                  </nb-card>
                                </ng-template>
                            </td>
                            <!-- Dialog for removing certain notification -->
                            <ng-template #dialog let-data let-ref="dialogRef">
                              <nb-card>
                                <nb-card-header>Vymazanie notifikácie</nb-card-header>
                                <nb-card-body>{{ data }}</nb-card-body>
                                <nb-card-footer>
                                  <button nbButton (click)="removeNotification(item.id)" status="danger" class="mr-2">Áno</button>
                                  <button nbButton (click)="ref.close()" status="basic">Nie</button>
                                </nb-card-footer>
                              </nb-card>
                            </ng-template>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>  
          </div>
        </div>
      </nb-tab>
    </nb-tabset>

</nb-card-body>


 
</nb-card>